.label, .button{
    -fx-font-size: 14;
}

.instruction-line-in-bloc {
    -fx-padding: 5 0 5 0;
}

.instruction-bloc {
    -fx-padding: 0 0 5 0;
}

.button {
    -fx-background-color: #EAF2FF;
    -fx-border-color: #b3d0fd;
}

#rootPane {
    -fx-background-color: white;
}

.vbox {
    -fx-background-color: white;
}